@tailwind base;
@tailwind components;
@tailwind utilities;

/* Welcome Page Styles */
.welcome-gradient {
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(142deg, rgba(0, 0, 0, 1) 45%, rgba(79, 79, 79, 1) 100%);
    background: -webkit-linear-gradient(142deg, rgba(0, 0, 0, 1) 45%, rgba(79, 79, 79, 1) 100%);
    background: linear-gradient(142deg, rgba(0, 0, 0, 1) 45%, rgba(79, 79, 79, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#4f4f4f", GradientType=1);
}

@keyframes border-expand {
    0% {
        box-shadow: 0 0 0 0 rgba(234, 179, 8, 0.7);
    }
    100% {
        box-shadow: 0 0 0 10px rgba(234, 179, 8, 0);
    }
}

/* Button styling */
.animated-btn {
    background-color: #2D2F33;
    border-radius: 1.5rem;
    border: 2px solid #eab308;
    font-weight: bold;
    transition: transform 0.3s;
    position: relative;
    overflow: hidden;
    animation: border-expand 1.2s infinite;
}

.animated-btn:hover {
    transform: scale(1.1);
}

/* END */

/* Listen Page Styles */
header {
    background-color: rgba(18, 18, 18, 0.5);
}

.wave-container {
    display: flex;
    gap: 4px;
}

.wave-column {
    width: 5px;
    background-color: white;
    border-radius: 2px;
    transform-origin: center;
    height: 10px;
    transition: transform 0.5s ease;
}

.vinyl-disk {
    width: 60px;
    transform-origin: center;
}

@keyframes rotate-disk {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
